@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&family=Schoolbell&display=swap');

body {
    margin: 0;
    padding: 0;
    background: url(https://i.pinimg.com/736x/f9/b6/5d/f9b65d0e6aa53297c861df14733d8767.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #6C88BE;
}

ul {
    display: flex;
    justify-content:space-around;
    list-style-type: none;
    padding: 16px;
}

a {
    color: white;
    text-decoration: none;
}

li {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 25px;
}

nav a:hover {
    color: #ee92d2;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    flex-shrink: 0;
    color: #FDF6D8;

    font-family: Righteous;
    font-size: 114px;
    font-style: normal;
    font-weight: 1;
    line-height: normal;
    text-align: center;
}

h3 {
    width: 851px;
    height: 46px;
    flex-shrink: 0;
    color: #FDF6D8;
    text-align: center;
    font-family: Sarala;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

h1, h3 {
    margin-bottom: 2px; /* Define o espaçamento entre os títulos */
}

button {
    display: block; /* Isso faz o botão ocupar toda a largura disponível */
    margin-top: 10px; /* Define o espaçamento entre os títulos e o botão */
    padding: 10px 20px; /* Define o preenchimento interno do botão */
    background-color: #60564D; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    border: none; /* Remove a borda do botão */
    border-radius: 25px; /* Adiciona cantos arredondados ao botão */
    cursor: pointer; /* Altera o cursor ao passar o mouse sobre o botão */
    font-size: 20px;
    font-family: 'Schoolbell', cursive;
}


button:hover {
    transform: scale(1.2); /* Aumenta o botão em 10% quando o mouse passa por cima */
}

.caixa-login {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.815);
    z-index: 1;
    text-align: center;
    padding-top: 100px;
}

.fechar {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 40px;
    cursor: pointer;
    color: #FDF6D8;
}

h2 {
    color: white;
    font-size: 35px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    color: white;
}

input {
    border: 1px solid #050000; /* Borda de 1 pixel sólido cinza */
    margin: 10px 0; /* Margem superior e inferior de 10 pixels */
    padding: 5px; /* Espaçamento interno de 5 pixels */
    border-radius: 5px; /* Cantos arredondados */
    font-size: 16px; /* Tamanho da fonte em pixels */
    border: 1px solid #0077FF; /* Borda azul quando em foco */
    background-color: #f9f9f9; /* Cor de fundo diferente em foco */
}





